<div class="container color-dark">
    <div class="col">
        <p>Add ToDo Task </p>
    </div>
    <div class="col">
        <p>ToDo List </p>
    </div>
</div>
<div class="container color-light">
    <div class=col>
        <h2>Use this tool to add and remove your to-do list !</h2>
        <form>
            <input type="text" class="text" name="projectName" placeholder="Please enter your task here.."/>
            <br/>
            <input type="submit" class="btn" value="Add Task"/>
        </form>
    </div>
    <div class="col">
        <p class="project-container">
            Project list
        </p>
    </div>

</div>
